/*   ----- Imports  -----  */

/* Google Fonts */
@import url(//fonts.googleapis.com/css?family=Poppins);

/* npm install modern-normalize */

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
    /* Can alternatively define in html {} or :root {} */
    padding: 0;
    margin: 0;
    color: white;
    background-image: url("assets/gym_background.jpg");

    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins';
    font-size: 1.05em;
    text-align: center;
}

:root {
    --primary: #EA40A4;
	--business: #3A82EE;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}


article {
    background-color: #000000bb;
    padding: 10px;
}

/* ----- Anchors ----- Text links */
a {}

a:link {}

a:hover {}

a:active {}

a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
    background-color: rgba(0, 0, 0, 0.856);
    padding: 1.2em;
    padding-right: 7em;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0.9em;
    font-size: 0.95em;
    padding: 1.2em;
    padding-top: 1.3em;
}

nav p {
    text-decoration: none;
    color: white;
    margin: 0.9em;
    font-size: 0.95em;
    padding: 1.2em;
    padding-top: 1.3em;
}


#page1:hover,
#page2:hover {
    background-color: #7d7d7d77;
    cursor: pointer;
}

input[type="submit"], button {
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: var(--business);
	border-radius: 0.5rem;
    border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.danger {
    background-color: var(--danger);
}

#icon {
    margin-right: 0.5em;
}

#icon:hover {
    cursor: default;
}

#icon svg:hover {
    cursor: default;
}

#icon path:hover {
    cursor: default;
}

#description {
    padding: 1.5em 0em 1.5em 0em;
    font-size: 1.7em;
}

/*  ----- Page layout blocks -----  */
header {
    background-color: rgba(0, 0, 0, 0.610);

}

input[type="text"], input[type="number"] {
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}

main {
    background-color: rgba(0, 0, 0, 0.610);
    padding-bottom: 8.59em;
}

main {}

section {}

nav a {}



#topic1 {}

#topic2 {}

#gallery1 {}

#gallery2 {}

div {}

aside {}

/*  -----  Typography  ----- */
p {}

br {}

ol,
ul,
dl {}

li {}

dt {}

dd {}

h1,
h2,
h3,
h4,
h5,
h6 {}


/* Define consistant font family.*/
h1 {}

h2 {
    margin-top: 0;
    padding-top: 1em;
}

p {
    margin-bottom: 0;
}

h3 {}

h4 {}

h5 {}

h6 {}

abbr {}

acronym {}

address {}

blockquote {}

q {}

cite {}

em {}

hr {}

mark {}

s {}

span {}

strong {}

sub {}

sup {}

time {}

/*  ----- Coding or instructional typography ----- */
pre {}

code {}

kbd {}

samp {}

var {}

del {}

ins {}

/*  ----- Table ----- */

table {
    margin: 3em auto;
    padding-bottom: 4em;
}

caption {
    padding: 2em;
    padding-bottom: 1em;
    font-size: 1.1em;
}

thead {}

tbody {}

tfoot {}

tr {}

tr:nth-child(even) {}

th {
    padding: 0 1em 1em 1em;
    font-size: 1.1em;
}

td {
    padding-bottom: 1em;
    font-size: 0.95em;
}

td:nth-child(1) {}

colgroup {}

data {}

datalist {}


/*  ----- Form ----- */
form {
    margin-top: 2em;
}


fieldset {
    margin-top: 2em;
    margin-left: 12em;
    margin-right: 12em;
}

legend {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

label {
    display: block;
    margin-top: 0.5em;
}

button {
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}


input {
    padding: 0.5em;
    margin: 0.5em;
}

output {}

meter {}

progress {}


select {
    padding: 0.5em;
    margin: 0.5em;
}


optgroup {}


option {}


textarea {}

#unit {
    cursor: pointer;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

/* ----- Media ----- */
figure {}

figcaption {}

img {}

svg {
    cursor: pointer;
    transform: scale(1.5);
}

picture {}

source {}

iframe {}

video {}

audio {}

embed {}

object {}


/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}

.floatleft {}

.center-middle {}

.ten {}

.twenty {}

.thirty {}

.forty {}

.fifty {}

.sixty {}

.seventy {}

.eighty {}

.radius {}

.circle {}

.boxshadow {}

.tshadow {}

.gradient {}

.shape {}